# Identity Service: Frontend Test Site
BROKER_BASE_URL2=https://identity-service-handler.dev.cdp-int.defra.cloud/
BROKER_REDIRECT_URL2=https://fakelocal

# Identity Service: Frontend
B2C_CLIENT_ID=b2c-client-id-placeholder
B2C_CLIENT_SECRET=b2c-client-secret-placeholder
B2C_SERVICE_ID=b2c-service-id-placeholder
IDENTITY_SERVICE_FRONTEND_BASE_URL=https://localhost:3000
IDENTITY_SERVICE_BACKEND_BASE_URL=http://localhost:3001
IDENTITY_SERVICE_BACKEND_EXTERNAL_BASE_URL=
FRONTEND_PORT=3000
DEBUG=oidc-provider:*
HELPER_API_KEY=helper-api-key-placeholder
HELPER_BASEURL=http://localhost:3001
HELPER_USE_FAKE_CLIENT=true
NODE_ENV=development
NODE_EXTRA_CA_CERTS=
OIDC_SIGNING_CERT=oidc-signing-cert-placeholder
OIDC_SIGNING_KEY=oidc-signing-key-placeholder
SESSION_COOKIE_PASSWORD=session-cookie-password-placeholder
SESSION_COOKIE_SECURE=true
TLS_ENABLED=true